
.DS_Store

BYDialog.xcodeproj/project.xcworkspace/contents.xcworkspacedata

BYDialog.xcodeproj/project.xcworkspace/xcuserdata/benyang.xcuserdatad/UserInterfaceState.xcuserstate

BYDialog.xcodeproj/xcuserdata/benyang.xcuserdatad/xcschemes/BYDialog.xcscheme

BYDialog.xcodeproj/xcuserdata/benyang.xcuserdatad/xcschemes/xcschememanagement.plist
